<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>

<table border="1">
	<tr>
		<th>Account email</th>
		<th>Account Type</th>
		<th>Delete Account</th>
		
	</tr>
	<tr th:each="ll:${login}">
		<td th:text="${ll.emailid}"></td>
		<td th:text="${ll.typeofuser}"></td>
		<td>
			<form th:action="@{/removeAccount}" th:object="${login}" method="post" >
				<input type = "hidden" th:name = "emailid" th:value = "${ll.emailid}">
				<input type = "hidden" th:name = "typeofuser" th:value = "${ll.typeofuser}">
				<button type="submit">Delete Account</button>
			</form>
		</td>
	</tr>
</table>
<span th:text = "${msg}"></span>
<br/>
<a th:href="@{/adminHome}">Back</a>
</body>
</html>